.friendList {
    margin-bottom: 20px;
    display: flex;
    gap: 16px;
}

.photo {
    width: 100px;
}

.name {
    font-size: 34px;
    font-weight: 500;
}

.item {
    border: 3px solid #1d1d1d;
    border-radius: 8px;
    padding: 16px;
}

.friendsItemStatus {
    font-size: 22px;
    font-weight: 400;
    margin: 0px;
}

.friendsStatusOnline {
    color: green;
}

.friendsStatusOffline {
    color: red;
}