.table {
    font-size: 22px;
    font-weight: 600;
    margin: 0 auto;
    width: 756px;
    border-collapse: collapse;
}

.table,
th,
td {
    border: 1px solid #333;
}

.table thead th {
    background-color: #2b2b2b;
    color: white;
    padding: 4px 10px;
}

.table tbody tr:nth-of-type(even) {
    background-color: #bebebe;
}

.table tbody td {
    padding: 5px;
}